#root {
    display: grid;
    grid-template-rows: min-content 100% min-content;
    grid-template-columns: 1fr 2fr;
    font-family: 'Verdana', sans-serif;
    min-height: 98vh;
    min-width: 300px;
    color: white;
}

body {
    background: repeat-y;
    background-size: cover;
    transition: 0.25s background ease;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

#header h1 {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#header h2 {
    margin-top: 10px;
    font-family: 'Terminal', monospace;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#demo {
    display: flex;
    position: absolute;
    align-self: flex-end;
    padding-bottom: 80px;
    color: white;
    font-size: 18pt;
}

#demo i:hover, #about i:hover {
    cursor: pointer;
}

#about, #about a {
    display: flex;
    position: absolute;
    align-self: flex-start;
    padding-bottom: 100px;
    color: white;
    font-size: 15pt;
    text-decoration: none;
}

#about a:hover {
    cursor: default;
}

#info {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    transition: 0.15s all ease;
}

#info.hidden {
    opacity: .25;
}

#info.hidden:hover {
    opacity: 1;
}

#info div {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px white solid;
    background: rgba(34,34,34,.8);
    transition: 0.15s all ease;
}

#info p {
    margin-top: 12px;
    margin-bottom: 12px;
    transition: 0.15s all ease;
}

#info a {
    color: white;
    font-weight: bold;
}

#earth {
    background-image: url('../components/img/earth/earth.png');
    background-position: fixed;
    background-position-x: 15px;
    background-position-y: 15px;
    background-size: 25vh;
    background-repeat: no-repeat;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    transition: 0.15s all ease;
}

#earth iframe {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
    height: 95%;
}

.switcher {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: -8px;
}

.switcher li {
    padding: 2px;
    text-align: center;
}

.switcher a {
    display: block;
    padding: 6px;
    text-decoration: none;
    background: black;
    color: white;
    font-size: 1rem;
    border: 1px white solid;
    font-family: 'Terminal', monospace;
    text-transform: uppercase;
    transition: 0.15s all ease;
    cursor: pointer;
}

.switcher a.active,
.switcher a:hover,
.switcher a.active i,
.switcher a:hover i {
    background: white;
    color: black;
    transition: 0.15s all ease;
}

#slider {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

#slider ul {
    display: flex;
    flex-flow: column-reverse wrap;
    list-style: none;
    padding-left: 0;
}

#slider li {
    padding: 2px;
    text-align: center;
}

#slider a {
    display: block;
    padding: 6px;
    text-decoration: none;
    background: black;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px white solid;
    font-family: 'Terminal', monospace;
    text-transform: uppercase;
    transition: 0.15s all ease;
}

#slider a:hover, #slider a.active {
    background: white;
    color: black;
    transition: 0.15s all ease;
}

@media screen and (min-width: 765px) {
    #root {
        min-height: 97vh;
        grid-template-rows: min-content 100% min-content;
        grid-template-columns: 2fr 1fr;
    }

    body {
        background: no-repeat;
        background-size: cover;
    }
    
    #header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    #header h1, #header h2 {
        font-size: 1.8rem;
    }

    #demo {
        padding-bottom: 100px;
    }

    #about {
        padding-bottom: 120px;
    }
    
    #info {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    #earth {
        background-position: center;
        background-size: 45%;
        background-repeat: no-repeat;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    #slider {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    #slider ul {
        flex-flow: row wrap;
    }

    #slider a {
        font-size: 0.97rem;
        font-weight: normal;
    }
}

@media screen and (min-width: 1600px) {
    #header h1, #header h2 {
        font-size: 2.3rem;
    }

    #demo {
        padding-bottom: 130px;
    }

    #about {
        padding-bottom: 155px;
    }

    #info {
        font-size: 1.35rem;
    }

    #slider a {
        font-size: 1.5rem;
        font-weight: normal;
    }
}